<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.rainbow.mapper.system.SysUserMapper">

    <update id="logLogin">
        update sys_user
            set last_login_time=#{lastLoginTime},last_login_ip=#{lastLoginIp}
        where login_name=#{loginName}
    </update>

    <select id="findRoleByLoginName" resultType="java.lang.String">
        select role_code from sys_role sr
        inner join sys_user_role sur on sr.id=sur.role_id
        inner join sys_user su on sur.user_id=su.id
        where login_name=#{loginName,jdbcType=VARCHAR}
        or email=#{loginName,jdbcType=VARCHAR}
    </select>

    <select id="findPermissionsByLoginName" resultType="java.lang.String">
        select distinct(sm.perms)
        from sys_menu sm
                 inner join sys_role_menu srm on sm.id = srm.menu_id
                 inner join sys_role sr on srm.role_id = sr.id
                 inner join sys_user_role sur on sr.id = sur.role_id
                 inner join sys_user su on sur.user_id = su.id
        where su.login_name = #{loginName,jdbcType=VARCHAR} or email = #{loginName,jdbcType=VARCHAR}
    </select>
</mapper>