# 开发环境配置
server:
  # 服务器的HTTP端口，默认为80
  port: 8795
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8
    threads:
      # tomcat最大线程数，默认为200
      max: 800
      # Tomcat启动初始化的线程数，默认值25
      min-spare: 30

spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driverClassName: com.mysql.cj.jdbc.Driver
    druid:
      url: ENC(PH75ipUmSZxE7C7ptQyVrPei23b3PzSCJXUKMDRG2JwWx/N/IeWE4knII/2Yuxle9pksbM+TwM0Yrlu5s+l/Hl5yM5QcORxrm7DEYzDLV4RF4Zlkhdzc2tOUaImi0NRZiAkvLI611KclvZbxeV/p9pa57qZwi+oTkENYif+ELP2ruM+xveIYB5YSJtB1Xge1UJXsc0NJCYgBRL7zqH9miVDXJZWQxnQqFwwQsOUBBm4N4YXLLt32TL+oECyf7mQv)
      username: ENC(cL0BKl6Ey6X0jfC88sQcACs6JKNXKCeSpsABv2ur9Yy0kloRSPa16K4BMesQKXFS)
      password: ENC(F890hnHIv8YmxJkQQ/S4KzRo2wfShJH+9YNXGyED8YjOuoHbVDyBm1mzUvhoW7Cs)
      # 初始连接数
      initialSize: 5
      # 最小连接池数量
      minIdle: 10
      # 最大连接池数量
      maxActive: 20
      # 配置获取连接等待超时的时间
      maxWait: 60000
      # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
      timeBetweenEvictionRunsMillis: 60000
      # 配置一个连接在池中最小生存的时间，单位是毫秒
      minEvictableIdleTimeMillis: 300000
      # 配置一个连接在池中最大生存的时间，单位是毫秒
      maxEvictableIdleTimeMillis: 900000
      # 配置检测连接是否有效
      validationQuery: SELECT 1 FROM DUAL
      testWhileIdle: true
      testOnBorrow: false
      testOnReturn: false
      webStatFilter:
        enabled: true
      statViewServlet:
        enabled: true
        # 设置白名单，不填则允许所有访问
        allow:
        url-pattern: /druid/**
        # 控制台管理用户名和密码
        login-username: root
        login-password: druid@123
      filter:
        stat:
          enabled: true
          # 慢SQL记录
          log-slow-sql: true
          slow-sql-millis: 1000
          merge-sql: true
        wall:
          config:
            multi-statement-allow: true

  redis:
    host: ENC(qvo9Fu8+aKZM6oL5L7HeMvJmF9Z5iJfbHUhdsMBxLVCNUDi06nwayc8/45xg1oTt)
    database: 0
    port: 6379

mybatis-plus:
  # 检查mapper是否存在
  check-config-location: true
  # 指定mapper文件的位置
  mapper-locations: classpath*:/mapper/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true

jasypt:
  encryptor:
    password: lh@686...
